body{
display: flex;
flex-direction: column;
align-content: space-around;
align-items: center;
background-size: 100% auto;
background-image: url("ScaryBackground.jpeg");
}
h1{
    text-align: center; 
    width: 100%;
}